body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.blue-cloud {
    float: left;
    width: 100%;
    position: relative;
}
.blue-cloud .col {
    float: left;
    width: 100%;
}
img.cloud-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.btn-abs {
    position: absolute;
    width: 90%;
    bottom: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.cloudrexx-button {
    background-color: #95C700;
    border-color: #95C700;
}
.cloudrexx-button.activated {
    background-color: #449d44;
    border-color: #398439;
}
.cloudrexx-button, .cloudrexx-button.activated, .cloudrexx-button:hover {
    color: #ffffff;
}
.home-view .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.home-view .content-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.instance-list .item {
    overflow: visible;
    z-index: initial;
}
@media (max-width: 991px) {
    img.cloud-image {
        width: 500px;
        height: auto;
        margin: 0 auto;
        margin-top: -200px;
    }
    .btn-abs {
        bottom: 100px;
    }
}
@media (max-width: 767px) {
    img.cloud-image {
        width: 300px;
        height: auto;
        margin: 0 auto;
        margin-top: -100px;
    }
    .btn-abs {
        bottom: 60px;
    }
}
