<ion-view view-title="Cloudrexx" class="home-view app_bg" cache-view="false">
    <ion-content scroll="false">
        <div class="content-wrapper">
            <div class="row blue-cloud">
                <div class="col">
                    <img class="cloud-image" src="img/cloud.png" />
                    <div class="btn-abs">
                        <button ng-click="chooseImages()" class="button cloud-image-upload">{{ 'upload_image' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>