<ion-view view-title="{{ 'manage_sites' | translate }}" class="manage-site-view" cache-view="false">
    <ion-content>
        <ion-list class="instance-list list-inset">
            <ion-item>
                <button class="button cloudrexx-button">
                    {{ 'add_new' | translate }}
                </button>
            </ion-item>
            <ion-item uib-dropdown class="item-icon-right" ng-repeat="item in items track by $index">
                {{item}}
                <span uib-dropdown-toggle class="button button-icon icon ion-android-more-vertical"></span>
                <ul uib-dropdown-menu class="pull-right">
                    <li><a href="#">{{ 'deactivate' | translate }}</a></li>
                    <li><a href="#">{{ 'remove' | translate }}</a></li>
                </ul>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
