<ion-modal-view class="ion-nifty-modal">
    <div class="ion-modal-content-custom">
        <ion-content scroll="false">
            <ion-list>
                <label class="item item-input item-select">
                    <div class="input-label">
                        {{ 'website' | translate }}
                    </div>
                    <select ng-modal="upload.instance">
                        <option ng-repeat="instance in instances track by $index" ng-selected="$index == upload.instance" value="$index"> {{ instance.name }} </option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        {{ 'path' | translate }}
                    </div>
                    <select ng-modal="upload.path">
                        <option ng-repeat="path in selectedInstanceUploadPaths track by $index" ng-selected="path.value == upload.path" value="path.value"> {{ path.name }} </option>
                    </select>
                </label>
            </ion-list>
            <div class="text-center padding">
                <button class="button button-block cloudrexx-button">{{ 'upload_image' | translate}}</button>
            </div>
        </ion-content>
    </div>
</ion-modal-view>